<form class="task-form" ref="form">
	<input type="text" id="taskInput" name="title" placeholder="Add a new task" />
	<span class="task-form__error" data-error-for="title" hidden></span>
	<div class="form-group">
		<label for="taskPriority">Priority:</label>
		<select id="taskPriority" ref="taskPriority" name="priority">
			<option value="high">High</option>
			<option value="medium" selected>Medium</option>
			<option value="low">Low</option>
		</select>
	</div>
	<button type="submit">Добавить задачу</button>
</form>
<ul id="tasksList" ref="tasksList"></ul>
